.form {
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
}

.form__fieldset {
    background-color: #a7aec6;
    border: 3px solid #1a28ad;
    border-radius: 20px;
}

.form__legend {
    background-color: #1a28ad;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.form__paragraph {
    display: flex;
    justify-content: center;
    margin: 4px;
}

.form__paragraph--input {
    margin-bottom: 12px;
}

.form__input {
    flex-basis: 250px;
    border: 1px solid #1a28ad;
    border-radius: 4px 0px 0px 4px;
    height: 30px;
}

.form__input--rate {
    border-radius: 4px;
    max-width: 60px;
    text-align: center;
    background-color: #ccc;
}

.form__select {
    border: 1px solid #1a28ad;
    border-left: 0;
    border-radius: 0px 4px 4px 0px;
    padding: 1px 2px;
    height: 30px;
}

.form__button {
    background-color: #1a28ad;
    flex-basis: 200px;
    padding: 10px;
    margin-top: 12px;
    margin-bottom: 6px;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 0.5px 2px black;
    color: white;
}

.form__button:active {
    box-shadow: 0px 0px 2px black;
}